@{
    ViewBag.Title = "Experience";
}
<h2>@ViewBag.Title</h2>
<center><h3>@ViewBag.Message</h3></center>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <center><h4>
                Pursuing <strong>MY</strong> dream
            </h4></center>
            <br />
            <br /><br />
            <p>Hi. Thank you for visiting my portfolio site!</p>

            <p> I am very excited for my new venture in the field of tehnology. I just completed a course at SeedPaths an 8 week intensive, but amazing, software development boot camp. During my time at SeedPaths I was immersed in: 
            <ul>
                <li>C#</li>
                <li>JavaScript</li>
                <li>CSS3</li>
                <li>SQL</li>
                <li>jQuery</li>
                <li>HTML5</li> 
                <li>MVC</li>
                <li>SQL</li>
                <li>AngularJS</li>
                <li>Visual Studio</li>
                </ul> 
            </p>
            <p>It was one of the most challenging yet rewarding experiences of my life. After building a solid foundation, I feel I have been given the tools to further research the field and expand on the knowledge already I have.</p>

            <p>My goal is to master these frameworks and become a full stack developer. I cannot wait to see what the future has in store.</p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<h4>Work Samples</h4>
<p>Examples of some of the programs I have created using C#</p>
<br />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="carousel slide" id="carousel-512213">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-512213">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-512213">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-512213">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="~/Content/Photos/BattleShip1.jpg" />
                        <div class="carousel-caption">
                            <h4>
                                Battleship
                            </h4>
                            <p class="picCap">
                                Created the classic game Battle Ship.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="~/Content/Photos/BattleShip3.jpg" />
                        <div class="carousel-caption">
                            <h4>
                                Battleship
                            </h4>
                            <p class="picCap">
                                Game will notify you if your guess was a hit or a miss. It will also display it on the game board.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="~/Content/Photos/HangMan.jpg" />
                        <div class="carousel-caption">
                            <h4>
                                HangMan
                            </h4>
                            <p class="picCap">
                                A game of hangman that will fill in the correct letter if guessed correctly, otherwise it will let you know you were wrong and how many chances you have left.
                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-512213" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-512213" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="carousel slide" id="carousel-339417">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-339417">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-339417">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-339417">
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img alt="" src="~/Content/Photos/Hyperspace1.jpg" />
                        <div class="carousel-caption">
                            <h4>
                                Hyperspace
                            </h4>
                            <p class ="picCap">
                                You can control the spaceship and your goal is to avoid any incoming obstacles.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="~/Content/Photos/Hyperspace2.jpg" />
                        <div class="carousel-caption">
                            <h4>
                                Hyperspace
                            </h4>
                            <p class="picCap">
                                Will get faster and faster the longer you play.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <img alt="" src="~/Content/Photos/DragonSlayer1.jpg" />
                        <div class="carousel-caption">
                            <h4>
                                Dragon Slayer
                            </h4>
                            <p class="picCap">
                                Adventure game where you must slay a dragon.
                            </p>
                        </div>
                    </div>
                </div> <a class="left carousel-control" href="#carousel-339417" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-339417" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
            <img alt="140x140" src="~/Content/Photos/Mac-Logo.jpg" class="img-rounded" />
        </div>
        <center>
            <div class="col-md-4 column">
                <img alt="200x200" src="~/Content/Photos/SeedPaths.jpg" class="img-rounded" />
            </div>
        </center>
        <div class="col-md-4 column">
            <img alt="140x140" src="~/Content/Photos/Windows_logo.jpg" class="img-rounded" />
        </div>
    </div>
</div>