@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<center><h3>@ViewBag.Message</h3></center>

<address>
    <br />
    Greater Denver Area<br />
    <abbr title="Phone">P:</abbr>
    (248) 719-5094
</address>
<br />
<br />
<p><center><a href="https://www.linkedin.com/in/umarmuqtadir" class="btn btn-warning btn-lg">LinkedIn &spades;</a></center></p>
<p><center><a href="https://github.com/umuqtadi" class="btn btn-danger btn-lg">GitHub &diams;</a></center></p>
<br />
<br />
<address>
    <strong>Email:</strong>   <a href="mailto:umar.muqtadir@gmail.com">Umar.Muqtadir@gmail.com</a><br />
</address>

<div class="container">
    <div class="row clearfix">

            <center>
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1" />
                    </div>
                    <div class="checkbox">
                    </div> <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </center>

        <div class="col-md-6 column">
        </div>
    </div>
</div>