@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Umar Muqtadir</h1>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <center><img alt="140x140" src="~/Content/Photos/RandomPic.jpg" class="img-circle" /></center>
            </div>
        </div>
    </div>
    <p class="lead">Excited to start my adventure in the tech community!</p>
    <p><center><a href="https://www.linkedin.com/in/umarmuqtadir" class="btn btn-warning btn-lg">LinkedIn &spades;</a></center></p>
    <p><center><a href="https://github.com/umuqtadi" class="btn btn-danger btn-lg">GitHub &diams;</a></center></p>
</div>

<p>Thank you for visiting my portfolio site! My name is Umar Muqtadir.</p>

<p>I was born and raised in Michigan, near the Metro Detroit area. I am a big sports fan, especially basketball, soccer and football. GO LIONS! I recently moved to Colorado in January of 2015 and I have fallen in love with the state. I always grew up wanting to visit the mountains and now I get to see them everyday! Being here has motivated me to become more active and explore the natural beauty that surrounds us. I love watching movies, relaxing with friends, playing interactive games, traveling and trying new foods, among many other things.</p>

<p>My career path led me to many different fields, but I always had a passion for technology and understanding the way things work. Growing up I was the designated 24/7 on-call tech support for my family. Whenver there was an issue, it was my job to solve it. This really helped me build a relationship with technology from a young age. From playing Prince of Persia to setting up routers and printers for my family, technology was apart of my life. Traditional schooling was not for me, but I knew I wanted to work in a field that involved continous learning and allowed for growth both professionally an personally.</p>
<br />
<br />
<div class="container">
    <div class="row clearfix">
        <center>
            <div class="col-md-12 column">
                <img alt="140x140" src="~/Content/Photos/Family.jpg" />
            </div>
        </center>
    </div>
    <br />
    <br />
    <br />
    <div class="row clearfix">
        <center>
            <div class="col-md-12 column">
                <img alt="140x140" src="~/Content/Photos/RedRocks.jpg" />
            </div>
        </center>
    </div>
</div>
<br />
<br />
<br />
<center>
    <div class="container">
        <div class="row clearfix">
                <div class="carousel slide" id="carousel-428799">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#carousel-428799">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-428799">
                        </li>
                        <li data-slide-to="2" data-target="#carousel-428799">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="~/Content/Photos/MJ.jpg" />
                            <div class="carousel-caption">
                                <h4>
                                    <strong>Michael Jordan</strong>
                                </h4>
                                <p class="picCap">
                                    Michael Jordan's passion and persistence is something I have always admired. It helps motivate me to keep trying no matter what hurdles I have to overcome.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="~/Content/Photos/Lions.jpg" />
                            <div class="carousel-caption">
                                <h4>
                                    <strong>Detroit Lions</strong>
                                </h4>
                                <p class="picCap">
                                    Being a Lions fan has been a difficult experience, but it has taught me to focus on the positive in every situation.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="~/Content/Photos/PakistaniFlag.jpg" />
                            <div class="carousel-caption">
                                <h4>
                                    <strong>Pakistan</strong>
                                </h4>
                                <p class="picCap">
                                    My family is of Pakistani descent. Staying in touch with the culture and the language are very important to me.
                                </p>
                            </div>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-428799" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-428799" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
        </div>
    </div>
</center>
<br />
<br />
<br />
<br />
<div class="row clearfix">

        <blockquote>
            <p class="quote">
                "I've failed over and over and over again in my life and that is why I succeed."
            </p> <p class="Jordan">Michael Jordan <cite></cite></p>
        </blockquote>

</div>

<div class="container">
    <div class="row clearfix">

            <blockquote>
                <p class="quote">
                    "Good things come to people who wait, but better things come to those who go out and get them."
                </p> <p class="Jordan">Anonymous<cite></cite></p>
            </blockquote>

    </div>
</div>
