
@{
    ViewBag.Title = "Resume";
}

<h2>Resume</h2>
<br />
<br />
<p class="resume">The work history, is no longer a mystery!</p>
<br />
<br />
<div>
    <p><center><img alt="" src="~/Content/Photos/UmarMu.jpg" /></center></p>
</div>